body {
  font-family: sans-serif;
  background: #000000;
  margin: 0;
}

.top {
  background: #b60000;
  width: 100%;
  min-height: 2em;
}

.app {
  max-width: 32em;
  margin: 0 auto;  
  color: #ffffff;
  padding: 0 .7em;
}

.navbar {
  text-align: center;
}

.navbar a, .navbar a:visited {
  background: #fff;
  color: #000000;
  display: inline-block;
  margin: .2em;
  font-size: .9em;
  border-radius: 4px;
  padding: .6em 2em;
  text-decoration: none;
}

.navbar a:hover {
  background: #b60000;
}

p a, p a:visited {
  color: #b60000;
}

p a:hover {
  color: #fff;
}

.footer {
  margin: 1em auto;
  max-width: 20em;
  text-align: center;
}

.footer img {
  width: 100%;
}

